@import "bootstrap";

.hero-title {
  font-size: 35px;
  color: white;
  margin-top: 30px;
  width: 100%;
  margin-left: 30px;
}

.hero-slogan {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 25px;
  color: rgba(230,230,230,1);
  line-height: 25px;
}

.inner-container {
  height: 100%;
  position: relative;
}

.nav-area {
  height: 100%;
  margin-left: 10px;
  ul { margin: 40px 0 0 10px; padding:0; width: 100%;}
  li { 
    height: 60px; margin-bottom: 5px; 
    &:hover {
      .nav-box { border: 3px solid #33CCFF; }
      .nav-title { color: #33CCFF; }
    }
  }
  //border-left: 1px solid white;
}

.nav-box {
  float: left;
  font-size: 20px;
  height: 40px;
  width: 40px;
  margin-left: 5px;
  border: 3px solid #E9E9E9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 20px 20px;
  @include border-radius(25px);
 /* &:hover {
    border-left: 1px solid white;
  } */
}

.nav-title {
  float: left;
  display: none;
  text-align: center;
  line-height: 50px;
  font-size: 20px;
  color: white;
  margin-left: 40px;
  &:hover { text-decoration: none; }
}

.hero-row {
  height: 100%;
}

.home-nav {
  background-image: url('home-light.png');
}
.portfolio-nav {
  background-image: url('address-light.png');
}
.blog-nav {
  background-image: url('folder-light.png');
}
.life-nav {
  background-image: url('notebook-light.png');
}
.work-nav {
  background-image: url('incoming-light.png');
}