@import "bootstrap";

.hero-title {
  font-size: 35px;
  color: white;
  margin-top: 30px;
  width: 100%;
  margin-left: 30px;
}

.hero-slogan {
  float: left;
  margin-top: 30px;
  margin-left: 10px;
  font-size: 25px;
  color: rgba(230,230,230,1);
  line-height: 25px;
}

.inner-container {
  height: 100%;
  position: relative;
}

.nav-area {
  height: 100%;
  margin-left: 10px;
  ul { margin: 40px 0 0 10px; padding:0; width: 100%;}
  li { height: 70px; margin-bottom: 5px; }
  //border-left: 1px solid white;
}

.nav-box {
  float: left;
  font-size: 20px;
  height: 50px;
  width: 50px;
  border: 3px solid #E9E9E9;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px 30px;
  @include border-radius(30px);
 /* &:hover {
    border-left: 1px solid white;
  } */
}

.nav-title {
  float: left;
  display: none;
  text-align: center;
  line-height: 60px;
  font-size: 20px;
  color: white;
  margin-left: 20px;
  &:hover { text-decoration: none; }
}

.hero-row {
  height: 100%;
}

.home-nav {
  background-image: url('home-light.png');
}
.portfolio-nav {
  background-image: url('address-light.png');
  &:hover {
    background-image: url('address-blue.png');
  }
}
.blog-nav {
  background-image: url('folder-light.png');
}
.life-nav {
  background-image: url('notebook-light.png');
}
.work-nav {
  background-image: url('incoming-light.png');
}